SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_ENGINE=sqlite
POSTGRES_DB=db.sqlite3
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_CACHE_DB=1
REDIS_BROKER_DB=2
REDIS_BEAT_DB=3

CELERY_TASK_ALWAYS_EAGER=False

EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_USE_TLS=False
DEFAULT_FROM_EMAIL=no-reply@kittens.local
SITE_URL=http://127.0.0.1:8000

POPULAR_TAGS_CACHE_TIMEOUT=3600
BEST_USERS_CACHE_TIMEOUT=3600