{% if page_obj.has_other_pages %}

<div class="pagination">

    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">‹</a>
    {% endif %}

    {% if page_obj.number > 2 %}
        <a href="?page=1">1</a>
    {% endif %}

    {% if page_obj.number > 3 %}
        <span class="pagination_gap">...</span>
    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">
            {{ page_obj.previous_page_number }}
        </a>
    {% endif %}

    <a class="active_page" href="?page={{ page_obj.number }}">
        {{ page_obj.number }}
    </a>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">
            {{ page_obj.next_page_number }}
        </a>
    {% endif %}

    {% if page_obj.number < page_obj.paginator.num_pages|add:"-2" %}
        <span class="pagination_gap">...</span>
    {% endif %}

    {% if page_obj.number < page_obj.paginator.num_pages|add:"-1" %}
        <a href="?page={{ page_obj.paginator.num_pages }}">
            {{ page_obj.paginator.num_pages }}
        </a>
    {% endif %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">›</a>
    {% endif %}

</div>

{% endif %}